language: node_js
node_js:
- '10'
- '12'
sudo: false
script:
- npm test
- npm run build
deploy:
  provider: npm
  email: ben+jsnes-travis@firshman.co.uk
  api_key:
    secure: Ko5GqTCGgOPijSIP4iMUbUJ9mCWfhw2RlIwvGOU4a1RACHJCBVBa76bfFWAQADQyRDJo7gT8v7vK/P82d9/s5J5uRe+V9M6X/OwrkYcPLd1e8Vso/+oi5gcnRNWWmeU7Pg/8xdDXTq8f6OWYflK1F80Qe42vPdw+lMUDsqg3ElI=
  on:
    tags: true
    repo: bfirsh/jsnes
  skip_cleanup: true
