#emulator {
    text-align: center;
}

.nes-controls {
    margin-bottom: 2em;
}

.nes-status {
    font-size: 0.8em;
    color: #999;
}

.nes-screen {
    display: block;
    margin: 0 auto 20px auto;
}
